#outer {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: fit-content;
    padding: 20px;
    justify-content: flex-end;
    background-color: lightblue;
}

#inner1 {
    width: 40%;
}

#inner2 {
    width: 40%;
}

#inner3 {
    width: 25%;
    padding-top: 15px;
}

.inner-class {
    padding-bottom: 5px;
}

#input-div {
    color: lightgrey;
}


