table {
    display: flex;
    justify-content: center;
    background-color: lightcyan;
    width: 40%;
    margin: 50px auto;
    padding: 25px ;
    border: grey solid;
}

td {
    padding: 10px;
}

.button__cancel {
    background-color: lightcyan;
    color: #215559;
}

.buttons {
    align-self: flex-end;
    display: flex;
    flex-direction: row-reverse;
}


