#outer {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: fit-content;
    padding: 20px;

    background-color: lightblue;
}

#inner1 {
    width: 40%;
}

#inner2 {
    width: 40%;
}

#inner3 {
    width: 25%;
    padding-top: 15px;
}

#title-div {
    padding-bottom: 5px;
}

#location-div {
    padding-bottom: 5px;
}

#date-div {
    padding-bottom: 5px;
}

#time-div {
    padding-bottom: 5px;
}

#slots-div {
    padding-bottom: 5px;
}

#hobbyId-div {
    padding-bottom: 5px;
}

#description-div {
    padding-bottom: 5px;
}

#input-div {
    color: lightgrey;
}

p {
    color: green;
}

#navigation {
    display: flex;
    justify-content: flex-end;
    width:50%;
}

#header-div {
    width: 50%;
}

header {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    color: white;
    background-color: #333;
}

h1 {
    font-size: 25px;
    pad
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

li a:hover {
    background-color: #111;
}
