h1 {
    padding-left: 5%;
}



#small-div {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.hobby{
    width: 250px;
    margin-top: 100px;
    border-style: solid;
    border-color: grey;
    background-color: lightcyan;
    text-align: center;
    padding-bottom: 15px;

}

.image{
    width: 200px;
    margin: auto;
    background-color: lightcyan;
    padding: 15px;
}

img{
    width: 100%;
}

