h1 {
    padding-left: 5%;
}



#big-div {
    display: flex;
    flex-direction: column;
}

#small-div {
    background-color: lightblue;
}

table {
    border-spacing: 5px;
    width: 200px;
    padding-top: 10px;
    padding-left: 10px;
}

p {
    padding-left: 10px;
}

th {
    text-align: left;
}

