.big-div {
    display: block;
    align-items: flex-start;
    flex-wrap: wrap;
    height: fit-content;
    padding: 20px;
    background-color: lightblue;
}

th {
    text-align: left;
}

tbody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 10% 0 10%;
}

tr {
    display: grid;
    border-style: solid;
    padding: 15px;
    margin: 15px;
    width: 100%;
    background-color: lightcyan;
}

table {
    display: flex;
    justify-content: space-evenly;
}

.table {
    margin-bottom: 15px;
}
.table p {
    margin:0;
    padding-right: 5px;
}

#slotsTotal {
    display:flex;
    flex-direction: row;
    margin-bottom: 0;
}

#slotsAvailable {
    display:flex;
    flex-direction: row;
    margin: 0;
    padding-right: 5px;
}

.title {
    font-size: 20px;
    margin-bottom: 15px;
}

.table_button{
    padding: 20px 20px 20px 0;
    margin: 0;
}

#participants{
    margin-bottom: 0;
    margin-top: 15px;
}

#participantsList {
    margin: 0;
}
