#big-div {
    display: block;
    align-items: flex-start;
    flex-wrap: wrap;
    height: fit-content;
    padding: 20px;
    background-color: lightblue;
}

th {
    text-align: left;
}

tbody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 10% 0 10%;
}

tr {
    display: grid;
    border-style: solid;
    padding: 15px;
    margin: 15px;
    width: 100%;
    background-color: lightcyan;
}

table {
    display: flex;
    justify-content: space-evenly;
}

td#column-title {
    font-size: 20px;
    padding-bottom: 1.5rem;
}

td#column-id {
    visibility: hidden;
}

td#column-location {

}

td#column-date {

}

td#column-time {

}

td#column-slotsAvailable {

}

td#column-slots {

}

td#column-description {

}

td#column-users {
    text-transform: capitalize;
}