<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/hobby/addSession}" th:object="${session}" method="post">
    <label for="title">Title</label>
    <input type="text" id="title" placeholder="Title">
    <label for="location">Location</label>
    <input type="text" id="location" placeholder="Location">
    <label for="date">Date</label>
    <input type="date" id="date" placeholder="Date">
    <label for="time">Time</label>
    <input type="time" id="time" placeholder="time">
    <label for="slots">Slots</label>
    <input type="number" id="slots" placeholder="Slots">
    <label for="hobbyId">HobbyId</label>
    <input type="number" id="hobbyId" placeholder="HobbyId">
    <label for="description">Description</label>
    <input type="text" id="description" placeholder="Description">

<!--String title, String location, LocalDate date, LocalTime time, int slots, long hobbyId, String description-->

    <input type="submit" value="Add Session">
</form>


</body>
</html>