<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hopby - Add sessions</title>
        <link rel="stylesheet" type="text/css" href="/css/AddSession.css" />
        <link rel="stylesheet" type="text/css" href="/css/Styles.css" />
    </head>
    <body>
        <header>
            <div id="header-div">
                <h1>Create a new Session</h1>
            </div>
            <div id="navigation">
                <ul>
                    <li><a th:href="@{/home}">Home</a></li>
                    <li><a th:href="@{/hobby/addSession}">Create new</a></li>
                    <li><a th:href="@{/hobby/all}">All Sessions</a></li>
                    <li><a th:href="@{/logout}">Logout</a></li>
                </ul>
            </div>
        </header>

        <form action="#" th:action="@{/hobby/addSession}" th:object="${sessions}" method="post">
            <div id="outer">
                <div id="inner1">

                    <div class="inner-class" id="title-div">
                        <div id="label-div">
                            <label for="title">Title</label>
                        </div>
                        <div id="input-div">
                            <input type="text" th:field="*{title}" id="title" placeholder="ex. Ball Buddies">
                        </div>
                    </div>

                    <div class="inner-class" id="location-div">
                        <div id="label-div">
                            <label for="location">Location</label>
                        </div>
                        <div id="input-div">
                            <input type="text" th:field="*{location}" id="location" placeholder="ex. Reykjavik">
                        </div>
                    </div>

                    <div class="inner-class" id="date-div">
                        <div id="label-div">
                            <label for="date">Date</label>
                        </div>
                        <div id="input-div">
                            <input type="date" th:field="*{date}" id="date" placeholder="Date">
                        </div>

                    </div>
                    <div class="inner-class" id="time-div">
                        <div id="label-div">
                            <label for="time">Time</label>
                        </div>
                        <div id="input-div">
                            <input type="time" th:field="*{time}" id="time" placeholder="time">
                        </div>
                    </div>
                </div>

                <div id="inner2">
                    <div class="inner-class" id="slots-div">
                        <div id="label-div">
                            <label for="slots">Slots</label>
                        </div>
                        <div id="input-div">
                            <input type="number" th:field="*{slots}" id="slots" placeholder="Slots">
                        </div>
                    </div>

                    <div class="inner-class" id="hobbyId-div">
                        <div id="label-div">
                            <label for="hobbyId">HobbyId</label>
                        </div>
                        <div id="input-div">
                            <select th:field="*{hobbyId}" id="hobbyId" placeholder="HobbyId">
                                <option th:value="1" th:text="Football"></option>
                                <option th:value="2" th:text="Basketball"></option>
                                <option th:value="3" th:text="Hiking"></option>
                            </select>
                        </div>
                    </div>

                    <div class="inner-class" id="description-div">
                        <div id="label-div">
                            <label for="description">Description</label>
                        </div>
                        <div id="input-div">
                            <input type="text" th:field="*{description}" id="description" placeholder="ex. Best ball buddies ever">
                        </div>
                    </div>

                </div>
                <div id="inner3">
                        <input type="submit" value="Add Session" name="action">
                        <input type="submit" value="Cancel" name="action">
                </div>
            </div>
        </form>
    </body>
</html>