<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hopby</title>
        <link rel="stylesheet" type="text/css" href="/css/HobbyOverview.css" />
    </head>
    <body>
        <header>
            <div id="header-div">
                <h1>Login</h1>
            </div>
            <div id="navigation">
                <ul>
                    <li><a th:href="@{/}">Home</a></li>
                    <li><a th:href="@{/hobby/addSession}">Create new</a></li>
                    <li><a th:href="@{/hobby/all}">Find Sessions</a></li>
                    <li><a th:href="@{/login}">Login</a></li>
                </ul>
            </div>
        </header>
        <div th:switch="${hobby}">
            <h2 th:case="null">No hobbies</h2>
            <div th:case="*">
                <div id="big-div">
                    <h2> Hobbies </h2>
                    <table>
                        <thread>
                            <tr>
                                <th>Name</th>
                                <th>Id</th>
                            </tr>
                        </thread>
                        <tbody>
                        <tr th:each="hobby : ${hobby}">
                            <td th:text="${hobby.name}"></td>
                            <td th:text="${hobby.id}"></td>
                            <td><a th:href="@{/hobby/{id}(id=${hobby.id})}">Open</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <p><a th:href="@{hobby/all}">See all</a></p>
                <p><a th:href="@{/login}">Login</a></p>
            </div>
        </div>
    </body>
</html>