<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hopby</title>
        <link rel="stylesheet" type="text/css" href="/css/HobbyOverview.css" />
        <link rel="stylesheet" type="text/css" href="/css/Styles.css" />
    </head>
    <body>
        <header>
            <div id="header-div">
                <h1>Hobby Overview</h1>
            </div>
            <div id="navigation">
                <ul>
                    <li><a th:href="@{/home}">Home</a></li>
                    <li><a th:href="@{/hobby/addSession}">Create new</a></li>
                    <li><a th:href="@{/hobby/all}">Find Sessions</a></li>
                    <li><a th:href="@{/login}">Login</a></li>
                </ul>
            </div>
        </header>
        <div th:switch="${hobby}">
            <h2 th:case="null">No hobbies</h2>
            <div th:case="*">
                <div id="big-div">
                    <header>
                        <div id="header-div">
                            <h1>Hobbies</h1>
                        </div>
                        <div id="navigation">
                            <ul>
                                <li><a th:href="@{Velkomin.html}">Home</a></li>
                                <li><a th:href="@{AddSession.html}">Create new</a></li>
                                <li><a th:href="@{/}">Find Sessions</a></li>
                                <li><a th:href="@{LoginPage.html}">Login</a></li>
                            </ul>
                        </div>
                    </header>
                    <div id="small-div">
                        <table>
                            <thread>
                                <tr>
                                    <th>Name</th>
                                    <th>Id</th>
                                </tr>
                            </thread>
                            <tbody>
                            <tr th:each="hobby : ${hobby}">
                                <td th:text="${hobby.name}"></td>
                                <td th:text="${hobby.id}"></td>
                                <td><a th:href="@{/hobby/{id}(id=${hobby.id})}">Open</a></td>
                            </tr>
                            </tbody>
                        </table>
                        <p><a th:href="@{hobby/all}">See all</a></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>