<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hopby</title>
        <link rel="stylesheet" type="text/css" href="/css/HobbyOverview.css" />
        <link rel="stylesheet" type="text/css" href="/css/Styles.css" /><link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div id="header-div">
                <h1>Hobby Overview</h1>
            </div>
            <div id="navigation">
                <ul>
                    <li><a th:href="@{/home}">Home</a></li>
                    <li><a th:href="@{/hobby/addSession}">Create new</a></li>
                    <li><a th:href="@{/hobby/all}">All Sessions</a></li>
                    <li><a th:href="@{/logout}">Logout</a></li>
                </ul>
            </div>
        </header>

        <div id="big-div">
            <div id="small-div">
                <div class="hobby">
                    <p>
                        Football
                    </p>
                    <div class="image">
                        <img src="../img/football.png">
                    </div>
                    <a th:href="@{/hobby/1}">Open</a>
                </div>

                <div class="hobby">
                    <p>
                        Basketball
                    </p>
                    <div class="image">
                        <img src="../img/basket.png">
                    </div>
                    <a th:href="@{/hobby/2}">Open</a>
                </div>
                <div class="hobby">
                    <p>
                        Hiking
                    </p>
                    <div class="image">
                        <img src="../img/hike.png">
                    </div>
                    <a th:href="@{/hobby/3}">Open</a>
                </div>

            </div>
        </div>

    </body>
</html>