<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hopby - Login</title>
        <link rel="stylesheet" type="text/css" href="/css/LoginPage.css" />
        <link rel="stylesheet" type="text/css" href="/css/Styles.css" />
    </head>
    <body><
        <header>
            <div id="header-div">
                <h1>Login</h1>
            </div>
            <div id="navigation">
                <ul>
                    <li><a th:href="@{/home}">Home</a></li>
                    <li><a th:href="@{/hobby/addSession}">Create new</a></li>
                    <li><a th:href="@{/hobby/all}">Find Sessions</a></li>
                </ul>
            </div>
        </header>
        <div id="big-div">
            <form action="#" th:action="@{/login}" th:object="${user}" method="post">

                <label for="username">Username:</label>
                <input type="text" th:field="*{userName}" id="username">

                <label for="password">Password:</label>
                <input type="password" th:field="*{password}" id="password">

                <input type="submit" value="Login"/>
                <p hidden>Something went wrong - try again!</p>
            </form>
            <p><a href="/signup">Sign up!</a></p>
        </div>
    </body>
</html>