<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" lang="is">
<head>
    <meta charset="UTF-8">
    <title>Hopby - Sessions</title>
</head>
<body>
<div th:switch="${sessions}">
    <h2 th:case="null">No sessions</h2>
    <div th:case="*">
        <h2> Sessions </h2>
        <table>
            <thread>
                <tr>
                    <th>Title</th>
                    <th>Hobby Id</th>
                    <th>Id</th>
                    <th>Location</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Slots available</th>
                    <th>Total slots</th>
                    <th>Description</th>
                    <th>Open</th>
                </tr>
            </thread>
            <tbody>

            <tr th:each="sessionss : ${sessions}">
                <td th:text="${sessionss.title}"></td>
                <td th:text="${sessionss.hobbyId}"></td>
                <td th:text="${sessionss.id}"></td>
                <td th:text="${sessionss.location}"></td>
                <td th:date="${sessionss.date}"></td>
                <td th:time="${sessionss.time}"></td>
                <td th:text="${sessionss.slotsAvailable}"></td>
                <td th:text="${sessionss.slots}"></td>
                <td th:text="${sessionss.description}"></td>
                <td><a th:href="@{/openSession/{id}(id=${sessionss.id})}">Open</a></td>
            </tr>
            </tbody>
        </table>
        <p><a th:href="@{/hobby/addSession}">Add a new session</a></p>
        <p><a href="/hobby/all">All sessions</a></p>
        <p><a href="/">Back to Hobby Overview</a></p>
    </div>
</div>

</body>
</html>