<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hopby - Login</title>
        <link rel="stylesheet" type="text/css" href="/css/LoginPage.css" />
    </head>
    <body><
        <header>
            <div id="header-div">
                <h1>Signup</h1>
            </div>
            <div id="navigation">
                <ul>
                    <li><a th:href="@{/}">Home</a></li>
                    <li><a th:href="@{/hobby/addSession}">Create new</a></li>
                    <li><a th:href="@{/hobby/all}">Find Sessions</a></li>
                    <li><a th:href="@{/login}">Login</a></li>
                </ul>
            </div>
        </header>

        <form action="#" th:action="@{/signup}" th:object="${user}" method="post">
            <input type="text" name="username" id="username" th:field="*{userName}" />

            <input type="text" name="password" id="password" th:value="*{password}" />

            <input type="submit" value="Sign up"/>
        </form>

    </body>
</html>