<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" lang="is">
<head>
    <meta charset="UTF-8">
    <title>The Hopby</title>
</head>
<body>
<div th:switch="${hobby}">
    <h2 th:case="null">No hobbies</h2>
    <div th:case="*">
        <h2> Hobbies </h2>
        <table>
            <thread>
                <tr>
                    <th>Name</th>
                    <th>Id</th>
                </tr>
            </thread>
            <tbody>
                <tr th:each="hobby : ${hobby}">
                    <td th:text="${hobby.name}"></td>
                    <td th:text="${hobby.id}"></td>
                    <td><a th:href="@{/hobby/{id}(id=${hobby.id})}">Open</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>