<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" lang="is">
    <head>
        <meta charset="UTF-8">
        <title>Hopby - Sessions</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/Styles.css" />
        <link rel="stylesheet" type="text/css" href="/css/SessionOverview.css" />
    </head>
    <body>
        <header>
            <div id="header-div">
                <h1>View Session</h1>
            </div>
            <div id="navigation">
                <ul>
                    <li><a th:href="@{/home}">Home</a></li>
                    <li><a th:href="@{/hobby/addSession}">Create new</a></li>
                    <li><a th:href="@{/hobby/all}">All Sessions</a></li>
                    <li><a th:href="@{/logout}">Logout</a></li>
                </ul>
            </div>
        </header>
        <div th:switch="${sessions}">
            <h2 th:case="null">No sessions</h2>
            <div th:case="*">
                <div class="big-div">
                    <table>
                        <tbody>

                            <tr th:each="sessionss : ${sessions}">
                                <td class="title" th:text="${sessionss.title}"></td>
                                <td class="table table_info">
                                    <p th:switch="${sessionss.hobbyId}">
                                        <span th:case="'1'">Football</span>
                                        <span th:case="'2'">Basketball</span>
                                        <span th:case="'3'">Hiking</span>
                                    </p>
                                    <p  th:text="${sessionss.location}"></p>
                                    <p  th:text="${sessionss.description}"></p>
                                </td>

                                <td class="table">
                                    <p th:text="${sessionss.date}"></p>
                                    <p th:text="${sessionss.time}"></p>
                                </td>

                                <td class="table" id="slotsAvailable">
                                    <p>Slots Available: </p>
                                    <p th:text="${sessionss.slotsAvailable}"></p>
                                </td>
                                <td class="table" id="slotsTotal">
                                    <p>Total Slots: </p>
                                    <p th:text="${sessionss.slots}"></p>
                                </td>

                                <td class="table" id="participants">Participants:</td>
                                <td class="table" id="participantsList" th:each="users : ${sessionss.users}">
                                    <p th:text="${users.userName}"></p>
                                </td>

                                <td class="table table_button" th:switch="${host}">
                                    <p th:case="first"><a class="button" th:href="@{/delete/{id}(id=${sessionss.id})}">Delete</a></p>
                                </td>

                                <td class="table table_button" th:switch="${joined}">
                                    <p th:case="joined"><a class="button" th:href="@{/leaveSession/{id}(id=${sessionss.id})}">Leave</a></p>
                                    <p th:case="notJoined"><a class="button" th:href="@{/joinSession/{id}(id=${sessionss.id})}">Join</a></p>
                                    <p th:case="full">This session is full</p>
                                </td>

                                <td class="table_button">
                                    <a class="button" th:href="@{/hobby/{id}(id=${sessionss.hobbyId})}">Back</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>