<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" lang="is">
    <head>
        <meta charset="UTF-8">
        <title>Hopby - Sessions</title>
        <link rel="stylesheet" type="text/css" href="/css/SessionOverview.css" />
        <link rel="stylesheet" type="text/css" href="/css/Styles.css" /><link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div id="header-div">
                <h1>Session Overview</h1>
            </div>
            <div id="navigation">
                <ul>
                    <li><a th:href="@{/home}">Home</a></li>
                    <li><a th:href="@{/hobby/addSession}">Create new</a></li>
                    <li><a th:href="@{/hobby/all}">All Sessions</a></li>
                    <li><a th:href="@{/logout}">Logout</a></li>
                </ul>
            </div>
        </header>
        <div th:switch="${sessions}">
            <h2 th:case="null">No sessions</h2>
            <div th:case="*">
                <div id="big-div">
                    <table>
                        <tbody>

                        <tr th:each="sessionss : ${sessions}">
                            <td id="column-title" th:text="${sessionss.title}"></td>
                            <td th:switch="${sessionss.hobbyId}">
                                <span th:case="'1'">Football</span>
                                <span th:case="'2'">Basketball</span>
                                <span th:case="'3'">Hiking</span>
                            </td>
                            <td id="column-id" th:text="${sessionss.id}"></td>
                            <td id="column-location" th:text="${sessionss.location}"></td>
                            <td id="column-date" th:text="${sessionss.date}"></td>
                            <td id="column-time" th:text="${sessionss.time}"></td>
                            <td id="column-slotsAvailable" th:text="${sessionss.slotsAvailable}"></td>
                            <td id="column-slots" th:text="${sessionss.slots}"></td>
                            <td id="column-description" th:text="${sessionss.description}"></td>
                            <td id="column-users" th:each="users : ${sessionss.users}">
                                <p id="column-text">Participants</p>
                                <p th:text="${users.userName}"></p>
                            </td>

                            <td>
                                <div th:switch="${joined}">
                                    <p th:case="joined"><a th:href="@{/leaveSession/{id}(id=${sessionss.id})}">Leave</a></p>
                                    <p th:case="notJoined"><a th:href="@{/joinSession/{id}(id=${sessionss.id})}">Join</a></p>
                                    <p th:case="full">This session is full</p>
                                </div>
                            </td>

                            <td>
                                <div th:switch="${host}">
                                    <p th:case="first"><a th:href="@{/delete/{id}(id=${sessionss.id})}">Delete</a></p>
                                    <p th:case="*">You do not have permission to delete this session</p>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>